<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DetailPost</title>
</head>
<body>
<a th:href="@{/main(memberId=${memberId})}">X</a>
<h3 th:text="${post.getTitle()}"></h3>
<p th:text="${post.getCreatedAt()}"></p>
<p th:text="${post.getContent()}"></p>
<!--<div>-->
<!--    <form th:action="@{'/post/' + ${post.getId()} + '/update' + }" method="post">-->
<!--        <input type="hidden" name="id" th:value="${post.getId()}">-->
<!--        <button type="submit">수정</button>-->
<!--    </form>-->
<!--    <form th:action="@{'/post/' + ${post.getId()} + '/delete' + }" method="get">-->
<!--        <input type="hidden" name="id" th:value="${post.getId()}">-->
<!--        <button type="submit">삭제</button>-->
<!--    </form>-->
<!--</div>-->
<a th:href="@{/post/update(memberId=${memberId}, postId=${post.getPostId()})}">수정</a>
<a th:href="@{/post/delete(memberId=${memberId}, postId=${post.getPostId()})}">삭제</a>
</body>
</html>