<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JoinForm</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
</head>
<body>
<form action="/member/join" method="post">
    <input type="text" name="memberEmail" id="memberEmail" onblur="emailCheck()" placeholder="이메일"><br>
    <p id="emailCheck-result"></p>
  <input type="password" name="memberPw" placeholder="비밀번호"><br>
  <input type="text" name="memberName" placeholder="이름"><br>
    <a href="/">취소</a>
    <input type="submit" value="완료">
</form>
</body>
<script th:inline="javascript">
    const emailCheck = () => {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("emailCheck-result");
        $.ajax({
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: "/member/email-check",
            data: {
                "memberEmail": email
            },
            success: function(res) {
                if (res == "ok") {
                    checkResult.style.color = "green";
                    checkResult.innerHTML = "사용 가능한 이메일입니다.";
                } else {
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용 중인 이메일입니다.";
                }
            },
            error: function(err) {
                console.log("에러발생", err);
            }
        });
    }
</script>
</html>