<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<a href="/member/logout">로그아웃</a>
<h2>일기 목록</h2>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성시간</th>
        </tr>
    </thead>
<!--    <tbody>-->
<!--    <tr th:each="post : ${list}">-->
<!--        <td th:text="${post.getId()}"></td>-->
<!--        <td>-->
<!--            <a th:text="${post.getTitle()}" th:href="@{/post/view(id=${post.getId()})}"></a>-->
<!--        </td>-->
<!--        <td th:text="${post.getCreatedAt()}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>
<!--<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--    <a th:if="${page != nowPage}" th:href="@{/post/list(page=${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>-->
<!--    <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>-->
<!--</th:block>-->
<!--<form th:action="@{/post/list}" method="get">-->
<!--    <input type="text" name="searchKeyword">-->
<!--    <button type="submit">검색</button>-->
<!--</form>-->
<form action="/postForm" method="get">
    <input type="submit" value="+">
</form>
</body>
</html>