<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<a href="/member/logout">로그아웃</a>
<h2>일기 목록</h2>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성시간</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="post, postStat : ${postList}">
            <td th:text="${postStat.size - postStat.index}"></td>
            <td>
                <a th:text="${post.getTitle()}" th:href="@{/post/view(memberId=${memberId}, postId=${post.getPostId()})}"></a>
            </td>
            <td th:text="${post.getCreatedAt()}"></td>
        </tr>
    </tbody>
</table>
<form th:action="@{/postForm}" method="post">
    <input type="hidden" name="memberId" th:value="${memberId}" />
    <input type="submit" value="+">
</form>
</body>
</html>