<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PostForm</title>
</head>
<body>
<h2>일기쓰기</h2>
<form th:action="@{/post/save}" method="post">
    <input type="hidden" name="memberId" th:value="${memberId}" />
    <input type="text" name="title" placeholder="제목"><br>
    <textarea name="content" placeholder="제목"></textarea><br>
    <a th:href="@{|/main/${memberId}|}">취소</a>
    <input type="submit" value="작성">
</form>

</body>
</html>